.map-container {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin-top: 75px;
  }

  .sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font: 15px/24px monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
  }
  .geocoder {
      position: absolute;
      z-index: 1;
      width: 50%;
      left: 50%;
      margin-left: -25%;
      top: 10px;
      }
      .mapboxgl-ctrl-geocoder {
      min-width: 100%;
      } 