.map-container-user {
    position: absolute;
    left: 32%;
    width: 68%;
    top: 0;
    bottom: 0;
    margin-top: 70px;
 }

  .sidebar-user {
    position: absolute;
    width: 29%;
    height: 100%;
    top: 0;
    left: 20px;
    right: 20px; 
    overflow: hidden;
    margin-top: 70px;
  }

  .geocoder {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    top: 10px;
    }
    .mapboxgl-ctrl-geocoder {
    min-width: 100%;
    } 


    /* Marker tweaks */
.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 0;
  padding-bottom: 10px;
  width: 180px;
  border-radius: 9px 9px 9px 9px;
  background: #ac2b37;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-content h3 {
  background: #ac2b37;
  color: #fff;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 9px 9px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  display: block;
  padding: 10px;
  font-weight: 400;
  color: white; 
  background-color: #ac2b37;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #ac2b37;
}
