<!DOCTYPE html>
<html>
    <head>
        <title>Proof of Concept</title>
        <link rel="stylesheet" href="style.css">

    </head>
    <body>
        <p>This is a test home page</p>
        <p id="TIMESTAMP">{{date}}</p>
        <script src="/__/firebase/8.2.2/firebase-app.js"></script>
        <script src="/__/firebase/8.2.2/firebase-auth.js"></script>
        <script src="/__/firebase/8.2.2/firebase-firestore.js"></script>
        <!--<script src="/__/firebase/init.js"></script>-->
    </body>
</html>